<div class="container p-5 mat-elevation-z10">
    <app-clinic-history-header></app-clinic-history-header>
    <app-clinic-history-patient-section #patientForm [patient]="loadedPatient"
        (onFormSubmit)="onFormSubmit($event, SectionNames.patient)">
    </app-clinic-history-patient-section>
    <app-pathological-personal-background #pathologicalPersonalBackgroundForm
        (onFormSubmit)="onFormSubmit($event, SectionNames.pathologicalPersonalBackgrounds)">
    </app-pathological-personal-background>
    <app-family-background #familyBackground 
        (onFormSubmit)="onFormSubmit($event, SectionNames.familyBackgrounds)">
    </app-family-background>
    <app-non-pathological-personal-background #nonPathologicalPersonalBackgroundForm
        (onFormSubmit)="onFormSubmit($event, SectionNames.nonPathologicalPersonalBackgrounds)">
    </app-non-pathological-personal-background>
    <app-current-conditions #currentConditionsForm
        (onFormSubmit)="onFormSubmit($event, SectionNames.currentConditions)">
    </app-current-conditions>
    <app-facial-analysis #facialAnalysisForm
        (onFormSubmit)="onFormSubmit($event, SectionNames.facialAnalysis)">
    </app-facial-analysis>
    <app-functional-analysis #functionalAnalysisForm
        (onFormSubmit)="onFormSubmit($event, SectionNames.functionalAnalysis)">
    </app-functional-analysis>
    <button mat-raised-button color="primary" style="display: block;" (click)="goToOdontogramPage()">
            Ir a Odontograma
    </button>
    <button type="button" class="btn btn-primary" (click)="submit()">Guardar</button>
</div>