<app-section-header title="Análisis funcional"></app-section-header>

<div class="py-3">
    <form *ngIf="form" [formGroup]="form">
        <div class="container-fluid">
            <ng-container formArrayName="mainForm">
                <div class="row" *ngFor="let currentForm of getFormArray.controls; index as i" appStripedRows [rowIndex]="i">
                    <ng-container [formGroupName]="i">
                        <div class="col-5 d-flex">
                            <span class="mat-body-strong align-self-center">{{ currentForm.get('description')?.value }}</span>
                        </div>
                        <div class="col-7">
                            <mat-radio-group formControlName="characteristicId">
                            <div class="row row-cols-3">
                                    <div class="col" 
                                         *ngFor="let characteristic of getCharacteristics(currentForm.get('aspectId')?.value)">
                                         <mat-radio-button [value]="characteristic.id">{{ characteristic.description }}</mat-radio-button>
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                    </ng-container>
                </div>
            </ng-container> 
            <div class="mt-5">
                <mat-form-field style="width: 60%;">
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              formControlName="observations">
                    </textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>