<app-section-header [width]="100" title="Antecedentes personales y patológicos"></app-section-header>
<div class="py-3">
    <form *ngIf="pathologicalPersonalBackgroundForm" [formGroup]="pathologicalPersonalBackgroundForm">
        <div class="container-fluid">
            <div class="row row-cols-2">
                <ng-container formArrayName="mainForm">
                    <div class="col-6" *ngFor="let currentForm of getFormArray.controls; index as i">
                        <ng-container [formGroupName]="i">
                            <div class="container-fluid">
                                <div class="row" [ngStyle]="{'margin-right': i%2==0 ? '58px' : '0px', 'margin-left': i%2==0 ? '0px': '58px' }">
                                    <div class="col">
                                        <mat-checkbox
                                            formControlName="hasSufferedFrom">{{currentForm.get('description')?.value}}</mat-checkbox>
                                        <mat-error *ngIf="isFormInvalid(i, 'hasSufferedFrom') else emptyTemplate">Debe diligenciar este campo</mat-error>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field>
                                            <mat-label>Fecha</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="date">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        <mat-error *ngIf="isFormInvalid(i, 'date') else emptyTemplate">Debe diligenciar este campo</mat-error>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </form>
</div>


<ng-template #emptyTemplate>
    <p>&nbsp;</p>
</ng-template>