<app-section-header title="Padecimientos actuales"></app-section-header>

<div class="py-3">
    <form *ngIf="currentConditionsForm" [formGroup]="currentConditionsForm">
        <div class="row">
            <div class="col-12" *ngFor="let currentForm of getFormArray.controls; index as i">
                <ng-container formArrayName="mainForm">
                    <ng-container [formGroupName]="i">
                        <mat-checkbox formControlName="hasSufferedFrom">{{ currentForm.get('description')?.value }}</mat-checkbox>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </form>
</div>
