<app-section-header title="Análisis facial"></app-section-header>

<div class="py-3">
    <form *ngIf="form" [formGroup]="form">
        <div class="container-fluid">
            <ng-container formArrayName="mainForm">
                <div class="row" *ngFor="let currentForm of getFormArray.controls; index as i" [ngStyle]="{'background-color': i%2==0 ? '#f7f7f7' : 'unset'}">
                    <ng-container [formGroupName]="i"]>
                        <div class="col-5 d-flex">
                            <span class="mat-body-strong align-self-center">{{ currentForm.get('description')?.value }}</span>
                        </div>
                        <div class="col-7">
                            <div class="row row-cols-3">
                                <div class="col" 
                                     *ngFor="let characteristic of getCharacteristics(currentForm.get('aspectId')?.value)">
                                     <mat-checkbox (change)=" currentForm.get('characteristicId')?.setValue(characteristic.id) ">{{ characteristic.description }}</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </form>
</div>
