/* You can add global styles to this file, and also import other style files */

.app-section-header-color {
    background-color: #2c8db1 !important;
    h3 {
        color: white;
    }
}

.app-section-container-color {
    background-color: #f9f9f9;
}

.app-dark-blue-color {
    background-color: #2c8db1!important;
}