<div>
    <div style="width: 100%; height: fit-content; padding: 2px;" class="text-center app-section-header-color">
        <h3>{{ "Datos generales" | titlecase }}</h3>
    </div>
    <form [formGroup]="patientForm" class="py-3">
        <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Identification</mat-label>
                    <input matInput placeholder="Identification" formControlName="identification" required
                        (blur)="onIdentificationInputBlur()">
                    <mat-error *ngIf="isControlInvalid('identification')">
                        Identification is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" required>
                    <mat-error *ngIf="isControlInvalid('name')">
                        Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address" formControlName="address" required>
                    <mat-error *ngIf="isControlInvalid('address')">
                        Address is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Health Provider Entities</mat-label>
                    <input matInput placeholder="Health Provider Entities" formControlName="healthProviderEntity"
                        required>
                    <mat-error *ngIf="isControlInvalid('healthProviderEntity')">
                        Health Provider Entities is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Occupation</mat-label>
                    <input matInput placeholder="Occupation" formControlName="occupation" required>
                    <mat-error *ngIf="isControlInvalid('occupation')">
                        Occupation is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Scholarship</mat-label>
                    <input matInput placeholder="Scholarship" formControlName="scolarship" required>
                    <mat-error *ngIf="isControlInvalid('scolarship')">
                        Scholarship is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="birthDate"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="isControlInvalid('birthDate')">
                        Birth Date is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option *ngFor="let gender
                        of genders" [value]="gender.id">
                            {{ gender.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Marital Status</mat-label>
                    <mat-select formControlName="maritalStatus">
                        <mat-option *ngFor="let status of maritalStatuses" [value]="status.id">
                            {{ status.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    