<div>
    <div style="width: 100%; height: fit-content; padding: 2px;"
        class="text-center app-section-header-color">
        <h3>{{ "Datos generales" | titlecase }}</h3>
    </div>
    <form [formGroup]="patientForm">
        <div class="container-fluid app-section-container-color">
            <div class="row p-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="nameInput">Nombre</label>
                        <input type="text" class="form-control" id="nameInput" placeholder="Ingresa el nombre"
                            formControlName="name">
                    </div>
                    <div class="form-group mt-3">
                        <label for="addressInput">Domicilio</label>
                        <input type="text" class="form-control" id="addressInput" placeholder="Ingresa el domicilio"
                            formControlName="address">
                    </div>
                    <div class="form-group mt-3">
                        <label for="healthProviderEntityInput">Entidad</label>
                        <input type="text" class="form-control" id="healthProviderEntityInput"
                            placeholder="Ingresa la entidad" formControlName="healthProviderEntity">
                    </div>
                    <div class="form-group mt-3">
                        <label for="ocuppationInput">Ocupación</label>
                        <input type="text" class="form-control" id="ocuppationInput" placeholder="Ingresa la ocupación"
                            formControlName="occupation">
                    </div>
                    <div class="form-group mt-3">
                        <label for="scolarshipInput">Escolaridad</label>
                        <input type="text" class="form-control" id="scolarshipInput" placeholder="Ingresa la escolaridad"
                            formControlName="scolarship">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="birthDateInput">Fecha de nacimiento</label>
                        <input type="text" class="form-control" id="birthDateInput"
                            placeholder="Ingresa la fecha de nacimiento" formControlName="birthDate">
                    </div>
                    <div class="form-group mt-3">
                        <label for="genderInput">Género</label>
                        <select  class="form-control" id="genderInput">
                            <option *ngFor="let gender of genderValues">
                                {{ gender }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label for="maritalStateInput">Estado civil</label>
                        <select type="text" class="form-control" id="maritalStateInput">
                            <option *ngFor="let maritalState of maritalStatuses">
                                {{ maritalState }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>